body {
  margin: 0;
  background-color: #F4F4F4;
  color: #8e8669;
  font-weight:700;
}

ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #373737;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-style: solid;
  border-width: thick;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-width: 10px;
  border-color: #8e8669;
}

ul.a li a {
  display: block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
}

ul.a li a.active {
  background-color: #DCD0C0;
  color: #000000;
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
}

ul.a li a:hover:not(.active) {
  background-color: #c0b283;
  color: #000000;
}

main {
  margin-left:25%;
  padding:1px 16px;
  height:1000px;
}

.interface {
  margin: auto;
  width: 70%;
}

.download_link {
  color: black;
}

.download_link:hover {
  color: #c0b283;
}
